* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  background: #75c8ff;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  color: #344966;
  font-size: 1.2rem;
}

/* GENERAL */
.scroll-top {
  bottom: 5%;
  color: #f2b257;
  font-weight: bold;
  font-size: 5rem;
  position: fixed;
  right: 3%;
  z-index: 2;
}

.desktop-only {
  display: block;
}

.mobile-only-portrait {
  display: none;
}

.container {
  padding: 0;
  margin: 0;
}

.scroll-top:hover {
  color: #fff;
  text-shadow: 0 0 10px#f2b257;
}

.section-divider {
  border-color: #75c8ff;
  border-style: dotted none none;
  border-width: 20px;
  height: 0;
  margin: 50px auto;
  width: 7%;
}

.section {
  height: 500px;
  padding: 25px 100px;
  position: relative;
  width: 100%;
}

.section-title {
  color: #f2b257;
  /* color: #75c8ff; */
  font-size: 3rem;
  margin-bottom: 25px;
}

.continue-wrapper {
  animation: float 1s infinite alternate ease-in-out;
  align-items: center;
  bottom: 5%;
  color: #344966;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.continue-wrapper:hover {
  cursor: pointer;
}

.continue-link,
.continue-link:hover {
  font-size: 1.7rem;
  color: #344966;
}

.continue-arrow {
  font-size: 2.5rem;
}

@keyframes float {
  from {
    bottom: 4%;
  }
  to {
    bottom: 6%;
  }
}

.success {
  color: #5cb85c;
}

.failure {
  color: #d9534f;
}

/* NAVIGATION */
.navbar {
  display: flex;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-toggler,
.navbar-toggler:focus {
  background: none;
  outline: none;
  border: none;
}

.nav-link {
  color: #f2b257;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 10px;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0px 0px 5px#f2b257;
}

/* LANDING */
#landing {
  align-items: center;
  background: url("img/mosaic-top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 250%;
  border: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.landing-title {
  /* color: #57b4f3; */
  color: #f2b257;
  font-size: 4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.landing-subheading {
  color: #57b4f3;
  /* color: #f2b257; */
  font-size: 2.2rem;
  font-weight: normal;
}

.landing-links-wrapper {
  align-items: flex-end;
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
}

.contact-link {
  color: #a1d9ff;
  font-size: 3rem;
}

.contact-link.fa-envelope {
  font-size: 2.8rem;
}

.contact-link:hover {
  color: #fff;
  text-shadow: 0px 0px 5px #a1d9ff;
}

/************************ ABOUT ************************/
#about {
  height: fit-content;
  padding-bottom: 150px;
}

.skill-title {
  color: #57b4f4;
}

/************************ PROJECTS ************************/
#projects {
  padding-bottom: 150px;
  height: fit-content;
}

.carousel {
  height: fit-content;
  margin-top: 30px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators {
  bottom: 50px;
}

.carousel-indicators li {
  background-color: #f2b257;
}

.carousel-inner {
  height: fit-content;
}

.carousel-item {
  min-height: 100%;
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.project-img {
  height: 100%;
}

.carousel-caption {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  box-shadow: -5px 5px 15px #344966;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  left: 0;
  margin: auto;
  padding: 0 50px;
  right: 0;
  top: 0;
  width: 75%;
}

.carousel-caption h5 {
  color: #57b4f3;
  font-size: 1.7rem;
}

.carousel-caption p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.caption-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption-links a {
  color: #f2b257;
  font-size: 1.6rem;
  margin: 0 10px;
}

.caption-links a .fa-github-alt {
  font-size: 2rem;
}

.carousel-control-btn {
  color: #57b4f3;
  font-size: 100px;
}

/************************* CONTACT *************************/
#contact {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 30px auto 0;
  width: 50%;
}

.contact-email,
.contact-subject {
  height: 3rem;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 0 10px;
  width: 100%;
}

.contact-msg {
  height: 30%;
  margin-bottom: 30px;
  padding: 10px;
  resize: none;
  width: 100%;
}

.contact-submit {
  background: #57b4f3;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3rem;
  height: 50px;
  margin-bottom: 15px;
  width: 50px;
}

.contact-submit:focus {
  outline: none;
}

/************************ FOOTER ************************/
#footer {
  align-items: center;
  background: url("img/mosaic-btm-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: flex-end;
  padding: 0 0 25px 0;
  text-shadow: 0 0 10px #fff;
}

.bg-credit-link {
  color: #a87227;
  margin-top: 10px;
}

/************************
   * MOBILE MEDIA QUERIES *
   ************************/
/* MOBILE PORTRAIT ORIENTATION */
@media only screen and (min-width: 320px) and (max-width: 926px) {
  /* GENERAL */
  .scroll-top {
    bottom: 5%;
    font-size: 4rem;
    right: 5%;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only-portrait {
    display: block;
  }

  .section-divider {
    border-style: dotted none none;
    border-width: 15px;
    margin: 20px auto;
    width: 20%;
  }

  .section {
    padding: 25px;
    width: 100%;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  /************************ NAVIGATION (MOBILE PORTRAIT) ************************/
  .navbar {
    background: rgba(255, 255, 255, 0.3);
    justify-content: flex-end;
    padding: 20px;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    width: 100%;
  }

  .nav-link {
    text-align: right;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 2.5rem;
  }

  .navbar-toggler {
    background: none;
  }

  /* LANDING */
  #landing {
    background-position-y: -50vh;
    height: 90vh;
  }

  .landing-title {
    font-size: 3.2rem;
    letter-spacing: 5px;
    text-align: center;
  }

  .landing-subheading {
    font-size: 1.8rem;
  }

  .landing-links-wrapper {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
  }

  .contact-link {
    font-size: 2.5rem;
  }

  .contact-link.fa-envelope {
    font-size: 2.2rem;
  }

  /************************ ABOUT ************************/
  #about {
    padding-bottom: 170px;
  }

  /************************ PROJECTS ************************/
  #projects {
    padding-bottom: 250px;
  }

  .carousel {
    height: fit-content;
    padding: 0;
  }

  .carousel-inner {
    padding: 0 30px;
  }

  .carousel-control-btn {
    font-size: 2.5rem;
  }

  .carousel-caption {
    height: 50%;
    width: 85%;
    padding: 30px 5px;
  }

  .carousel-caption h5 {
    font-size: 1.4rem;
  }

  .caption-links a {
    font-size: 1.4rem;
    margin: 0 7px;
  }

  .caption-links a .fa-github-alt {
    font-size: 1.6rem;
    margin: 0 5px;
  }

  .carousel-caption p {
    font-size: 0.8rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 10px;
  }

  .carousel-indicators {
    bottom: -60px;
  }

  /************************ CONTACT ************************/
  #contact {
    height: fit-content;
  }

  #contact-form {
    width: 90%;
    margin-top: 20px;
  }

  .contact-email,
  .contact-subject {
    height: 2.5rem;
    font-size: 1rem;
  }

  .contact-msg {
    height: 40%;
    margin-bottom: 15px;
  }

  .contact-submit {
    height: 45px;
    width: 45px;
  }

  /************************ FOOTER ************************/
  #footer {
    align-items: center;
    background: url("img/mosaic-btm-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: flex-end;
    padding: 0 0 25px 0;
    text-align: center;
  }
}

/* MOBILE LANDSCAPE ORIENTATION */
@media only screen and (min-width: 320px) and (max-width: 926px) and (orientation: landscape) {
  /* GENERAL */
  .desktop-only {
    display: block;
  }

  .mobile-only-portrait {
    display: none;
  }
  .section-divider {
    border-style: dotted none none;
    border-width: 15px;
    width: 10%;
  }

  .section {
    padding: 25px 70px;
  }

  /* NAVIGATION */
  .navigation {
    top: 5%;
    width: 50%;
  }

  /* LANDING */
  #landing {
    background-position-y: -85vh;
    height: 95vh;
  }

  .landing-links-wrapper {
    width: 20%;
    padding: 15px 0 20px 0;
  }

  /* PROJECTS */
  #projects {
    padding-bottom: 200px;
  }

  .carousel {
    height: 70vh;
    padding: 0;
  }

  .carousel-caption {
    height: 70%;
    padding: 10px 20px;
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }

  .carousel-control-btn {
    font-size: 2.5rem;
  }

  .carousel-indicators {
    bottom: 25px;
  }

  /***********
 * CONTACT *
 ***********/
  #contact {
    height: fit-content;
    margin-bottom: 50px;
  }

  #contact-form {
    width: 70%;
  }

  .contact-msg {
    height: 50%;
    margin-bottom: 15px;
  }

  .contact-submit {
    height: 45px;
    width: 45px;
  }

  /************************ FOOTER ************************/
  #footer {
    background-position-y: -50px;
    height: 30vh;
  }
}

/************************
 * TABLET MEDIA QUERIES *
 ************************/
/* PORTRAIT ORIENTATION */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  p {
    font-size: 2rem;
  }

  /* GENERAL */
  .section-divider {
    border-style: dotted none none;
    border-width: 25px;
    margin: 20px auto;
    width: 10%;
  }

  .section {
    padding: 25px 100px;
  }

  .section-title {
    font-size: 4rem;
  }

  .continue-link {
    font-size: 2.7rem;
  }

  .continue-arrow {
    font-size: 4rem;
  }

  /* NAVIGATION */
  .navigation {
    top: 5%;
    width: 100%;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  /* LANDING */
  #landing {
    background-position-y: -55vh;
    height: 100vh;
  }

  .landing-title {
    font-size: 5.5rem;
    letter-spacing: 10px;
  }

  .landing-subheading {
    font-size: 3.4rem;
  }

  .landing-links-wrapper {
    width: 30%;
    padding: 25px 0;
  }

  .contact-link {
    font-size: 3.8rem;
  }

  /************************ PROJECTS ************************/
  #projects {
  }

  .carousel {
    height: fit-content;
    padding: 0 200px;
  }

  .carousel-inner {
    height: fit-content;
  }

  .carousel-item {
    min-height: 100%;
    width: 100%;
  }

  .carousel-item img {
    height: 100%;
  }

  .carousel-caption {
    bottom: 80px;
    padding: 15px 30px 0;
  }

  .carousel-caption h5 {
    font-size: 1.3rem;
  }

  .carousel-control-btn {
    color: #57b4f3;
    font-size: 100px;
    height: 10%;
  }

  .carousel-indicators {
    /* figure this out */
  }

  /************************ FOOTER ************************/
  #footer {
    height: 25vh;
  }

  .bg-credit-link {
    font-size: 1.7rem;
  }
}

/* LANDSCAPE ORIENTATION */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  p {
    font-size: 1.5rem;
  }

  /************************ GENERAL *************************/
  .section-divider {
    border-style: dotted none none;
    border-width: 15px;
    margin: 20px auto;
    width: 10%;
  }

  .section {
    padding: 25px 75px;
  }

  .section-title {
    font-size: 2.7rem;
  }

  .continue-link {
    font-size: 2rem;
  }

  .continue-arrow {
    font-size: 3rem;
  }

  /************************ NAVIGATION **************************/
  .navigation {
    top: 5%;
    width: 50%;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  /************************ LANDING ************************/
  #landing {
    background-position-y: -55vh;
    height: 100vh;
  }

  .landing-title {
    font-size: 3.5rem;
    letter-spacing: 10px;
  }

  .landing-subheading {
    font-size: 2.2rem;
  }

  .landing-links-wrapper {
    width: 20%;
    padding: 25px 0;
  }

  .contact-link {
    font-size: 3rem;
  }

  /************************ PROJECTS ************************/
  #projects {
  }

  .carousel {
    height: fit-content;
    margin-top: 30px;
    padding: 0 50px;
  }

  .carousel-caption {
    bottom: 15px;
    padding: 15px 20px 0;
  }

  .carousel-caption h5 {
    font-size: 1.7rem;
  }

  .carousel-caption p {
    font-size: 1.2rem;
  }

  .carousel-control-btn {
    font-size: 5rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 20px;
  }

  .carousel-indicators {
    bottom: -55px;
  }

  /************************* CONTACT *************************/
  #contact-form {
    margin-top: 25px;
  }

  /************************ FOOTER ************************/
  #footer {
    height: 25vh;
  }

  .bg-credit-link {
    font-size: 1.7rem;
  }
}
